.useIcon{
    text-align: center;
    font-size: 220%;
    color: white;
}
.Row{
    margin: 10px;
}

.Col{
    text-align: center;
    padding: 8px;
}
.rideone {
    background-color:#2196f3;
    padding-top: 33px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 100px;
    margin-left: 15px;
  }


.ride3{
    background-color: #4ca64c;
    padding-top: 33px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 100px;
    margin-left: 15px;
}

.ride4{
    background-color: #ffb732;
    padding-top: 33px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 100px;
    margin-left: 15px;
}
  
  .inforide {
    box-shadow: 1px 2px 8px 0px #cecece;
    background-color: white;
    border-radius: 8px;
    height: 100px;
  }
  
  
  .ridetwo {
    background-color: #9A75FE;
    padding-top: 33px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 100px;
    margin-left: 15px;
  }
  
  .ridethree {
    background-color: #4EBCE5;
    padding-top: 35px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 15px;
  }
  
  .fontsty {
    margin-right: -15px;
  }
  
  .fontsty h2{
    color: #6E6E6E;
    font-size: 30px;
    margin-top: 0px;
    text-align: left;
    margin-right: 30px;
  }
  
  .fontsty h4{
    color: #6E6E6E;
    font-size: 20px;
    margin-top: 15px;
    text-align: left;
    margin-right: 30px;
  }
  