@media (max-width: 767px) {
	ul.navbar-nav {
		overflow: visible !important;
		background-color: #f4f4f4 !important;
	}
	.dropdown-menu.show {
		right: 0;
		z-index: 99;
		width: 100%;
		position: static !important;
    	transform: translate3d(0px, 0px, 0px) !important;
		padding: 0 16px;
	}
	.menu {
	    flex-wrap: wrap;
	    position: absolute;
	    top: 62px;
	    left: 0px;
	    z-index: 99;
	    width: 100%;
	}
	.stickyHeader .menu {
		top: 60px;
	}
	header nav li {
	    margin: 0;
	    width: 100%;
	    border-bottom: 1px solid #e4e2e2;
	}	
	header .snip a:before {
		content: none;
	}
	.header li a:hover,
	.header .menu-btn:hover {
	    background-color: transparent;
	}
	.header .menu {
	    background: #f4f4f4;
        /*border-bottom: 1px solid #e4e2e2;*/
	}
	header nav li:last-child {
	    margin-right: auto;
	}
	header li.signInUpBtn {
	    display: flex;
	    max-width: 172px;
	    justify-content: center;
	    margin: 20px auto;
	}
	.header ul {
  		margin: 0;
	  	padding: 0;
	  	list-style: none;
	  	overflow: hidden;
	  	background-color: #fff;
	}
	.header li a {
	  display: block;
	  padding: 16px 20px;
	  text-decoration: none;
	}
	.header li a:hover,
	.header .menu-btn:hover {
  		background-color: #f4f4f4;
	}
	.header .menu {
	  	clear: both;
	  	max-height: 0;
	  	transition: max-height .2s ease-out;
	}
	.header .menu-icon {
	    cursor: pointer;
	    display: inline-block;
	    float: right;
	    padding: 10px 0;
	    position: relative;
	    user-select: none;
	    margin-bottom: 0;
	}
	.header .menu-icon .navicon {
	  	background: #2ec5e0;
	  	display: block;
	  	height: 2px;
	  	position: relative;
	  	transition: background .2s ease-out;
	  	width: 30px;
	}
	.header .menu-icon .navicon:before,
	.header .menu-icon .navicon:after {
	  	background: #2ec5e0;
	  	content: '';
	  	display: block;
	  	height: 100%;
	  	position: absolute;
	  	transition: all .2s ease-out;
	  	width: 100%;
	}
	.header .menu-icon .navicon:before {
	  	top: 8px;
	}
	.header .menu-icon .navicon:after {
	  	top: -8px;
	}
	.header .menu-btn:checked ~ .menu {
	  	max-height: 590px;
	}
	.header .menu-btn:checked ~ .menu-icon .navicon {
	  	background: transparent;
	}
	.header .menu-btn:checked ~ .menu-icon .navicon:before {
	  	transform: rotate(-45deg);
	}
	.header .menu-btn:checked ~ .menu-icon .navicon:after {
	  	transform: rotate(45deg);
	}
	.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
	.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	  	top: 0;
	}
	header ul.socialIcon li {
	    margin: 0 10px;
	}
}