body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    padding-top: 90px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 12px
}

body::-webkit-scrollbar {
    width: 10px
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #fff
}

h1, h2, h3, h4, h5, h5, p {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    border: none;
    outline: none;
}

input, input:focus, button, button:focus {
    outline: none;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1520px;
    padding: 0 20px;
}

.textWhite {
    color: #fff !important;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    background: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 0 2px 12px #e8e8e8;
}

header .headerTop {
    padding: 0 0 3px;
}

header ul.socialIcon li {
    margin: 0 15px;
}

header ul.socialIcon {
    justify-content: flex-end;
}

.logoSection {
    background-color: #4f9ae4;
    color: #FFF;
    border-bottom: 2px solid #f4c243;
}

header .logoContent {
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    position: relative;
}

header nav li a {
    color: #000;
    font-size: 18px;
    line-height: 22px;
}

header nav li {
    padding: 10px 0;
    margin: 0 22px;
}

header li.signInUpBtn {
    background: #4f9ae4;
    padding: 7px 14px;
    border-radius: 4px;
    color: #fff;
    margin-left: 22px;
}

header li.signInUpBtn a {
    color: #fff;
    padding: 0;
}

header li.signInUpBtn a:hover {
    color: #fff;
}

header .snip li.signInUpBtn a:before {
    content: none;
}

header .snip a {
    color: #FFF;
    position: relative;
    transition: all 0.3s ease;
}

.snip.menu {
    margin: 0 0 0 auto;
}

header .snip a:hover {
    color: #f4c243;
}

header .snip li.activeMenu a:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    z-index: 9;
    bottom: -21px;
    background: #4f9ae4;
    transition: all 0.3s ease;
    opacity: 1;
    visibility: visible;
}

header nav li.activeMenu a {
    color: #4f9ae4;
}

header .snip a:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    z-index: 9;
    bottom: -21px;
    background: #f4c243;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

header .snip a:hover:before {
    opacity: 1;
    visibility: visible;
}

button.Btn {
    padding: 16px 46px;
    background: #4f9ae4;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    font-family: SourceSansPro-SemiBold;
    transition: all 0.3s ease;
    border: none;
    letter-spacing: 0.3px;
}

button.Btn:hover, button.Btn:focus {
    box-shadow: none;
    border: none;
    background: #24b2cc;
}

footer {
    background: #11171D;
    padding: 122px 0 0;
}

.footerTaxi h3 {
    font-size: 39px;
    line-height: 49px;
    font-family: SourceSansPro-Bold;
    padding-bottom: 34px;
}

.footerContent {
    padding-bottom: 72px;
    border-bottom: 2px solid #41454A;
}

.footerTaxi p {
    font-size: 14px;
    line-height: 21px;
    color: #CCCCCC;
    letter-spacing: 0.3px;
}

.footerTaxi {
    width: 100%;
    max-width: 366px;
}

.footerSocialIcon li a {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.footerSocialIcon li a:hover {
    background: #4f9ae4;
}

.footerSocialIcon li a:hover svg {
    color: #fff;
}

ul.footerSocialIcon {
    padding: 32px 0 0;
}

ul.footerSocialIcon li {
    margin: 0 8px;
}

ul.footerSocialIcon li:first-child {
    margin-left: 0px;
}

.footerContent h4 {
    font-size: 24px;
    line-height: 30px;
    font-family: SourceSansPro-Bold;
    padding-bottom: 34px;
    padding-top: 12px;
}

ul.others a {
    color: #CCCCCC;
    font-size: 16px;
    line-height: 20px;
    transition: all 0.3s ease;
}

ul.others li {
    position: relative;
    margin: 0 0 10px;
}

ul.others a:hover {
    color: #4f9ae4;
}

ul.others li:before {
    content: '';
    position: absolute;
    top: 8px;
    left: -16px;
    background: url(../images/fast-forward.svg);
    height: 10px;
    width: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

ul.others.contactUs li a:hover {
    color: #CCCCCC;
}

ul.others {
    padding: 0 0 0 20px;
}

ul.others.contactUs li:before {
    content: none;
}

ul.others.contactUs img {
    width: 14px;
    margin: 0 20px 0 0;
}

ul.others.contactUs {
    padding: 0;
}

.footerSocialIcon li a svg {
    color: #11171d;
}

.copyright p {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.footerMenu li a {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    transition: all 0.3s ease;
}

.footerMenu li a:hover {
    color: #4f9ae4;
}

.copyright {
    padding: 32px 0;
}

.footerMenu li {
    margin: 0 20px;
}

ul.footerMenu {
    justify-content: flex-end;
}

.fieldset label {
    font-size: 16px;
    line-height: 20px;
    color: #424242;
    width: 100%;
}

.fieldset input {
    height: 42px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #DEDEDE26;
    border: 1px solid #E4E8EB;
    border-radius: 2px;
    font-size: 18px;
    line-height: 20px;
    color: #000;
    padding: 0 16px;
    width: 100%;
    transition: all 0.3s ease;
}

.fieldset input[type=file] {
    border: none!important;
    padding: 0;
}

.fieldset input:hover, .fieldset input:focus {
    border: 1px solid #bcbdbf;
}

.fieldset input::placeholder {
    color: #bbb;
}

.smallBtn {
    background: #4f9ae4;
    border: none;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    padding: 8px 24px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.smallBtn:hover {
    background: #24b2cc;
}

.signIn {
    background: #F7F7F7;
    padding: 50px 0 80px;
    min-height: calc(100vh - 142px);
}

.signInContent {
    width: 100%;
    max-width: 640px;
    box-shadow: 0px 2px 6px #E4E8EB29;
    border: 1px solid #E4E8EB;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
}

.signIn form h1 {
    padding-bottom: 28px;
}

.signIn form {
    width: 100%;
    max-width: 370px;
    margin: 0 auto;
}

.fieldset {
    margin: 0 0 15px;
}

button.smallBtn.width {
    width: 170px;
}

.override {
    display: block;
    margin: 0 auto;
}

.sweet-loading {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #0000006e;
    justify-content: center;
    top: 0;
}

.css-g1d714-ValueContainer {
    height: 42px;
}

.css-g1d714-ValueContainer input {
    height: 100%;
}

.login-text {
    text-align: center;
    margin: 10px 0;
}

.login-btn-container {
    padding: 10px;
    text-align: center;
}

.facebook-login-btn {
    background: #4267b2;
    font-weight: 500;
    border-radius: 5px;
    color: white;
    height: 40px;
    text-align: center;
    width: 250px;
}

.facebook-login-btn:hover {
    color: rgb(216, 216, 216);
}

.google-login-btn {
    border-radius: 5px;
    height: 40px;
    width: 250px;
}

.search-input-container {
    position: relative;
    margin: 20px auto;
}

.search-input {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 70px;
    font-size: 30px;
    border: 2px solid #4f9ae4!important;
    box-shadow: none!important;
}

.search-input-icon-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 20px;
    background-color: #4f9ae4;
    font-size: 30px;
    color: #FFF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.search-input-icon-container:hover {
    color: #f4c243;
}

.taxi-card {
    border: 1px solid #4f9ae4;
    border-radius: 5px;
}

.taxi-card-img {
    height: 180px;
    width: 90%;
    object-fit: contain;
    box-shadow: rgb(0 0 0 / 12%) 0px 0px 7px 1px;
    margin: 10px 0;
    padding: 5px;
}

.loading-img {
    filter: blur(1.5px);
}

.img-container {
    text-align: center;
    border-right: 1px solid #4f9ae4;
    padding: 0 30px
}

@media (max-width: 500px) {
    .img-container {
        border: none;
    }
    .search-input {
        font-size: 20px;
    }
}